body{
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    margin:0;
}

header{
    background:#491655;
    color:white;
    padding:20px;
}

.container{
    margin-top:40px;
}

fieldset{
    width:300px;
    margin:0 auto;
    padding:20px;
    border:2px solid black;
}

legend{
    font-weight:bold;
    text-align:left;
}

textarea{
    width:200px;
    padding:5px;
}

button{
    padding:8px;
    font-family: 'Times New Roman', Times, serif;
}

.error{
    color:red;
}

