body{
    background-color: aquamarine;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    color:blue;
    font-style: italic;
    text-align: center; 
}
form{
    width: 700px;
    margin: 30px;
    padding: 50px;
    background-color: white;
}

label{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: burlywood;
}


#PatientName, #Age{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border: 20px solid gray;
    border-radius: 20px;
    background-color: bisque;
    margin: 0px;
    padding: 10px;
}
div.Header{
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    background-color: yellow;
    font-size: 25px;
}
div.topnav{
 margin: 10px;
    text-align: center;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    background-color: yellow;
    font-size: 25px;
}
*{
    text-align: left;
    color: blue;
}
input[type="text"],input[type="number"],select{
    padding: 10px;
    margin: 20px;
}
textarea{
 max-width: 500px;
 min-width: 200px;
 resize: horizontal;
}