body{background-color: lavender; 
margin: 0;}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 70px;
    color: rgb(57, 5, 50);
    font-style:normal;
    text-align: center;
}

form{
    width: 900px;
    padding: 100px;
    margin: 40px;
    border: 10px solid salmon;
    background-color: rgb(221, 192, 233);
}

label{
    font-size: large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: darkmagenta;
}

#StudentName, #StudenCGPA, #StudenID, #StudentEmail, #Phn{
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    border: 5px solid rgba(6, 3, 27, 0.395);
    border-radius: 5px;
    background-color: rgb(201, 189, 225);
    margin: 0px;
    padding: 10px;
}

input::placeholder{
    color: darkslateblue;
}

div.Header{
    width: 100%;
    margin: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    background-color: rgb(146, 75, 101);
    font-size: 25px;

}
div.footer{
    
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    background-color: rgb(146, 75, 101);
    font-size: 25px;
}

div.topNav{
    width: 100%;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    background-color: rgb(146, 75, 101);
    font-size: 25px;
}

/* *{
    text-align: right;
    color: crimson;
} */

input[type="text"], input[type="number"],select{
    padding: 10px;
    margin: 20px;
}

textarea{
 max-height: 500px;
 min-height: 200px;
 resize: vertical;
}
